#gallery {
  background-color: #dfbe90;
  .row {
    .col-md-4 {
      padding: 1rem;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
