#subscription {
  background-color: #001f3d;
  color: #f9e093;
  position: relative;
  #wolfandmoon {
    .cls-1 {
      fill: #f9e093;
    }
    transform: scaleX(-1);
    max-height: 250px;
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
