#about {
  background-color: #f6ede0;
  padding-left: 15%;
  padding-right: 15%;

  @media only screen and (max-width: 640px) {
    padding-left: 0;
    padding-right: 0;
    .card {
      text-align: center;
    }
  }

  .card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: none;
    border: lighten(#d2a968, 20%) 5px solid;
  }

  .circle {
    $size: 11rem;
    background-color: white;
    border: lighten(#4e5660, 40%) 5px solid;
    height: $size;
    width: $size;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    transition: all 0.2s ease;
    cursor: pointer;
    svg {
      transition: transform 0.2s ease-in-out;
      transform: scale(1.1);
    }
    &:hover {
      border: lighten(#4e5660, 30%) 5px solid;
      svg {
        transform: rotate(10deg) scale(1.2);
      }
    }
    .icon {
      height: 100%;
      width: 100%;
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
