.hero-side{
    background-color: $gold;
    color: $lightgold;
    display: flex;
    align-items: center;
    padding: 0 0 0 11%;
    h2{
        font-size: 5em;
        line-height: 1em;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        margin: 0;
    }
    span{
        display: block;
        color: white;
        font-size: 1.7em;
        text-transform: uppercase;
        line-height: 1em;
        letter-spacing: .02em;
    }
    .btn{
        margin-top: 2em;
        &:hover > i{
            transform: scale(1.4,1);
        }
    }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
