@font-face {
    font-family: 'Heavitas';
    src: url('utilities/fonts/heavitas-webfont.woff2') format('woff2'),
         url('utilities/fonts/heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
