$lupiBlue: #1976d2;
$lupiDarkBlue: darken($lupiBlue, 10%);
$lupiLightBlue: lighten($lupiBlue, 10%);
$gold: #d2a968;
$lightgold: #f9e093;

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
