#blackwolf {
  background: black;
  color: white;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
  }
  #wolfsvg {
    transform: scaleX(-1);
    height: 150px;
    width: auto;
    margin-bottom: -2px;
  }
  #wolf {
    fill: #fff;
  }
  #ground {
    fill: white;
    max-width: 100%;
    width: 100%;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: -42px;
  }
  .green-text {
    color: black !important;
    background: white;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 4rem;
  }
  &:after {
    content: "";
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    background: linear-gradient(#001f3d, black);
  }
  .btn {
    &.active {
      background: #f9e093 !important;
    }
  }
  // Product
  .product-item {
    .card {
      background: lighten(black, 10%);
      color: white;
      // Image
      .view {
        img {
          width: 100%;
          height: auto;
          max-height: none;
          padding: 0 !important;
        }
      }
      // Product info text
      .card-text {
        color: lighten(lightgrey, 5%) !important;
      }
      .text-muted {
        color: lighten(lightgrey, 1%) !important;
      }
      button:after,
      button:before {
        background-color: white !important;
      }
      .btn {
        background: white;
        color: #212529;
        border: 5px lighten(#2d1f17, 20%) solid;
        &:hover{
          border: 5px lighten(#2d1f17, 30%) solid;
        }
      }
    }
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
